* {
    margin: 0px auto;
    padding-top: 10px;
}

/* Nav section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding: 15px;
    margin-right: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #424242;
}

nav a {
    text-decoration: none;
    color: black;
}

.nav-contain {
    display: flex;
    align-items: center;
}

.paragrhap {
    color: black;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 20px;
}

.travel {
    color: #b83f03;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.img {
    width: 50px;
}

.home {
    color: salmon;
}

.contain {
    text-align: center;
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1300px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.from input {
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 40px;
    height: 30px;
}

.styles {
    text-align: center;
    background-color: #db0d0d;
    color: white;
    font-size: 16px;
}

/* main section start */
main {
    width: 80%;
    width: 1500px;
    margin: 0px auto;

}

.container {
    display: flex;
    justify-content: space-between;

}
.pic{
    width: 540px;
height: 550px;
flex-shrink: 0;
border-radius: 16px;

}

.content {
    width: 750px;
}

.head {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.primary {
    color: #FFF;
    background-color: #FF5400;
    border: 0px;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800px;
}

.parag {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

/* section 2 */
.paragr {
    width: 500px;
    margin-top: 15px;
}

.choose {
    text-align: center;
    font-size: 36px;
}

.tem .row {
    display: flex;
}

.row {
    width: 1200px;
    gap: 20px;
}

/* section 3 */
.amar {
    color: #131318;

    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.pary {
    text-align: center;
    margin-bottom: 30px;
}

.prent {
    display: flex;
}

.choosee {
    font-size: 36px;
}

.world {
    width: 573px;
    flex-shrink: 0;
    height: 280px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);

}

.worldd {
    padding: 20px;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.divison {
    width: 500px;
    background: #dfd7d7;
    margin-bottom: 50px;
    margin-top: 20px;
    height: 200px;
    padding: 20px;
}
/* section 4 */
.head1{
    font-size: 40px;
}
.contents{
    border: 2px solid red;
    border-radius: 6px;
    padding: 10px;
    background: #FFF;;
}
.contents input{
    background-color: #dfd7d7;
    border: 0px;
    color: rgb(187, 69, 69);
    padding: 15px;
    width: 350px;
    border-radius: 8px;
}
.tag{
    background:orangered ;
    width: 250px;
    padding: 10px;
    color: white;
    position: relative;
   bottom: 150px;
   left: 200px;
   border-radius: 10px;
   transform: rotate(-19.628deg);
}
#sub{
    border-radius: 8px;
background: #FF5400;
font-size: 20px;
color: white;
}
/* footer start */
footer{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 70px;
}
.prurj{
    text-align: center;
    padding-bottom: 100px;
}
.footer-sect{
    text-align: center;
    padding: 35px;
    margin-bottom: 50px;
    height: 200px;
  }
  /* Responsive media query */
  @media screen and (min-width:600px) (max-width:992px) {
    .continer .prent  {
        flex-direction: column;
        width: 100px;
    }

  .tem {
    grid-template-columns: 1fr;
    height: auto;
  }
    
}