* {
    margin: 0px auto;
    padding-top: 10px;
}
/* Nav section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding: 15px;
    margin-right: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #424242;
}
nav a{
    text-decoration: none;
    color: black;
}

.nav-contain {
    display: flex;
    align-items: center;
}

.paragrhap {
    color: black;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 20px;
}

.travel {
    color: #b83f03;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.img {
    width: 50px;
}
.home{
        color: salmon;
}
.contain{
    text-align: center;
    background-image: url("Group 13 (1) (1).png");
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 1300px;
     height: 400px;
     margin-top: 50px;
     margin-bottom: 80px;
}
.text{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.from input{
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 40px;
 }
 .styles{
    text-align: center;
    background-color: #0a59a3;
    color:#FFF;
 }